absl-py==1.0.0
actionlib==1.12.1
addict==2.4.0
aiohttp==3.8.3
aiosignal==1.3.1
alabaster==0.7.12
anaconda-client==1.9.0
anaconda-project==0.10.1
angles==1.9.12
anyio==2.2.0
appdirs==1.4.4
argcomplete==3.0.5
argh==0.26.2
argon2-cffi==20.1.0
arrow==0.13.1
asn1crypto==1.4.0
astor==0.8.1
astroid==2.6.6
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.7
babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
base-local-planner==1.16.7
beautifulsoup4==4.10.0
bidict==0.22.1
binaryornot==0.4.4
bitarray==2.3.0
bkcharts==0.2
black==19.10b0
bleach==4.0.0
blinker==1.4
bokeh==2.4.1
bondpy==1.8.5
boto==2.49.0
bottleneck==1.3.2
brotlipy==0.7.0
cached-property==1.5.2
cachetools==4.2.4
camera-calibration-parsers==1.11.13
camera-calibration==1.15.2
catkin-pkg==0.5.2
catkin==0.7.29
certifi==2022.12.7
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.3
cloudpickle==2.0.0
clyent==1.2.2
colorama==0.4.4
conda-content-trust==0+unknown
conda-pack==0.6.0
conda-package-handling==1.7.3
conda-repo-cli==1.0.4
conda-verify==3.4.2
configargparse==1.5.3
contextlib2==0.6.0.post1
contourpy==1.0.7
controller-manager-msgs==0.18.4
controller-manager==0.18.4
cookiecutter==1.7.2
cryptography==3.4.8
cupy==9.6.0
cv-bridge==1.13.1
cycler==0.10.0
cython==0.29.24
cytoolz==0.11.0
daal4py==2021.3.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash==2.7.1
dask==2021.10.0
debugpy==1.4.1
decorator==5.1.0
defusedxml==0.7.1
diagnostic-analysis==1.9.7
diagnostic-common-diagnostics==1.9.7
diagnostic-updater==1.9.7
diff-match-patch==20200713
diffusers==0.3.0
distributed==2021.10.0
distro==1.8.0
docker-pycreds==0.4.0
docutils==0.17.1
dynamic-reconfigure==1.6.5
easydict==1.9
einops==0.5.0
entrypoints==0.3
et-xmlfile==1.1.0
evo==1.22.0
farama-notifications==0.0.4
fastcache==1.1.0
fastjsonschema==2.16.2
fastrlock==0.6
filelock==3.3.1
fire==0.4.0
flake8==3.9.2
flask==2.0.3
flit-core==3.6.0
fonttools==4.25.0
freetype-py==2.4.0
frozenlist==1.3.3
fsspec==2021.8.1
future==0.18.2
fvcore==0.1.5.post20221213
gazebo-plugins==2.8.7
gazebo-ros==2.8.7
gencpp==0.6.6
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.17
gennodejs==2.0.1
genpy==0.6.16
gevent==21.8.0
gitdb==4.0.10
gitpython==3.1.30
glfw==2.6.1
glob2==0.7
gmpy2==2.0.8
gnupg==2.3.1
google-auth-oauthlib==0.4.6
google-auth==2.14.0
greenlet==1.1.1
grid==0.0.0
grpcio==1.50.0
gtsam==4.1.1
gym-notices==0.0.8
gym==0.25.2
gymnasium==0.28.1
h5py==3.3.0
heapdict==1.0.1
hilbertcurve==2.0.5
html5lib==1.1
huggingface-hub==0.10.1
idna==3.2
image-geometry==1.13.1
imagecodecs==2021.8.26
imageio-ffmpeg==0.4.8
imageio==2.31.1
imagesize==1.2.0
imgviz==1.7.2
importlib-metadata==4.8.1
imutils==0.5.4
inflection==0.5.1
iniconfig==1.1.1
interactive-markers==1.11.5
intervaltree==3.1.0
iopath==0.1.10
ipykernel==6.4.1
ipython-genutils==0.2.0
ipython==7.29.0
ipywidgets==7.6.5
isort==5.9.3
itsdangerous==2.0.1
jax-jumpy==1.0.0
jdcal==1.4.1
jedi==0.18.0
jeepney==0.7.1
jinja2-time==0.2.0
jinja2==3.1.2
joblib==1.1.0
joint-state-publisher==1.12.15
json5==0.9.6
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.8.1
jupyter-server==1.4.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.0
jupyterlab==3.2.1
kaolin==0.13.0
kdl-parser-py==1.13.3
keyring==23.1.0
kiwisolver==1.3.1
kornia==0.6.8
laser-geometry==1.6.7
lazy-object-proxy==1.6.0
libarchive-c==2.9
lightning-bolts==0.6.0.post1
lightning-utilities==0.3.0
llvmlite==0.37.0
locket==0.2.1
loguru==0.6.0
lpips==0.1.4
lxml==4.6.3
lz4==4.3.2
mako==1.2.3
markdown==3.3.6
markupsafe==2.1.2
matplotlib-inline==0.1.2
matplotlib==3.6.3
mccabe==0.6.1
message-filters==1.14.13
minatar==1.0.15
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mmcv==1.7.1
mock==4.0.3
more-itertools==8.10.0
moviepy==2.0.0.dev0
mpmath==1.2.1
msgpack==1.0.2
mujoco==2.3.0
multidict==6.0.2
multipledispatch==0.6.0
munkres==1.1.4
mypy-extensions==0.4.3
natsort==8.2.0
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.5.0
nest-asyncio==1.5.1
networkx==2.6.3
ninja==1.11.1
nltk==3.6.5
nose==1.3.7
notebook==6.4.5
numba==0.54.1
numexpr==2.7.3
numpy-quaternion==2021.6.9.13.34.11
numpy==1.25.0
numpydoc==1.1.0
numpymarchingcubes==0.0.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.1.1
olefile==0.46
open3d==0.16.0
opencv-python==4.7.0.68
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.0
paddle-bfloat==0.1.7
paddlepaddle-gpu==2.3.2.post116
pandas==1.3.4
pandocfilters==1.4.3
parso==0.8.2
partd==1.2.0
path==16.0.0
pathlib2==2.3.6
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.2
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==9.0.1
pip==22.2.2
pkginfo==1.7.1
platformdirs==2.5.2
plotly==5.5.0
pluggy==0.13.1
ply==3.11
plyfile==0.7.4
pointnet2-ops==3.0.0
portalocker==2.3.0
poyo==0.5.0
proglog==0.1.10
progressbar==2.5
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==3.19.6
psutil==5.8.0
ptyprocess==0.7.0
py==1.10.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycodestyle==2.7.0
pycosat==0.6.3
pycparser==2.20
pycryptodomex==3.17
pycuda==2022.1
pycurl==7.44.1
pydocstyle==6.1.1
pyerfa==2.0.0
pyflakes==2.3.1
pygame==2.1.0
pyglet==2.0.0
pygments==2.10.0
pyjwt==2.1.0
pykitti==0.3.1
pylint==2.9.6
pyls-spyder==0.4.0
pyodbc==4.0.0-unsupported
pyopengl==3.1.0
pyopenssl==21.0.0
pyparsing==3.0.4
pypng==0.20220715.0
pyquaternion==0.9.9
pyrender==0.1.45
pyrsistent==0.18.0
pysocks==1.7.1
pytest==6.2.4
python-dateutil==2.8.2
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-qt-binding==0.4.4
python-slugify==5.0.2
pytools==2022.1.12
pytorch-lightning==1.8.1
pytorch3d==0.7.1
pytz==2021.3
pyu2f==0.1.5
pywavelets==1.1.1
pyxdg==0.27
pyyaml==6.0
pyzmq==22.2.1
qdarkstyle==3.0.2
qstylizer==0.1.10
qt-dotgraph==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
qt-gui==0.4.2
qtawesome==1.0.2
qtpy==1.10.0
regex==2021.8.3
requests-oauthlib==1.3.0
requests==2.26.0
resource-retriever==1.12.7
rope==0.19.0
rosbag==1.14.13
rosbags==0.9.15
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.13
roslaunch==1.14.13
roslib==1.14.9
roslint==0.11.2
roslz4==1.14.13
rosmake==1.14.9
rosmaster==1.14.13
rosmsg==1.14.13
rosnode==1.14.13
rosparam==1.14.13
rospkg==1.4.0
rospy==1.14.13
rosservice==1.14.13
rostest==1.14.13
rostopic==1.14.13
rosunit==1.14.9
roswtf==1.14.13
rqt-action==0.4.9
rqt-bag-plugins==0.5.1
rqt-bag==0.5.1
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui-py==0.5.3
rqt-gui==0.5.3
rqt-image-view==0.4.16
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.10
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.3
rqt-py-console==0.4.8
rqt-reconfigure==0.5.4
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.14
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.7.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rsa==4.8
rtree==0.9.7
ruamel-yaml-conda==0.15.100
ruamel.yaml.clib==0.2.7
ruamel.yaml==0.17.21
rviz==1.13.29
safety-gymnasium==0.4.0
scikit-build==0.16.4
scikit-image==0.19.2
scikit-learn-intelex==2021.20210714.170444
scikit-learn==0.24.2
scipy==1.7.1
seaborn==0.12.2
secretstorage==3.3.1
segment-anything==1.0
self-image-cpp-cuda-tool==0.0.0
send2trash==1.8.0
sensor-msgs==1.12.8
sentry-sdk==1.15.0
setproctitle==1.3.2
setuptools==58.2.0
simplegeneric==0.8.1
singledispatch==3.7.0
sip==4.19.13
six==1.16.0
smach-ros==2.0.1
smach==2.0.1
smclib==1.8.5
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
soupsieve==2.2.1
sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
spyder-kernels==2.1.3
sqlalchemy==1.4.22
statsmodels==0.12.2
svo==0.0.0
sympy==1.9
tables==3.6.1
tabulate==0.8.10
tbb==0.2
tblib==1.7.0
tenacity==8.0.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.10.1
termcolor==2.1.0
terminado==0.9.4
testpath==0.5.0
text-unidecode==1.3
textdistance==4.2.1
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
tf==1.12.1
threadpoolctl==2.2.0
three-merge==0.1.1
tifffile==2021.7.2
timm==0.4.12
tinycss==0.4
tinycudann==1.6
toml==0.10.2
toolz==0.11.1
topic-tools==1.14.13
torch-cluster==1.6.0
torch-efficient-distloss==0.1.3
torch-scatter==2.0.9
torch-sparse==0.6.15
torch==1.13.0+cu116
torchaudio==0.13.0+cu116
torchmetrics==0.10.3
torchvision==0.14.0+cu116
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
trimesh==3.15.8
typed-ast==1.4.3
typing-extensions==4.4.0
ujson==4.0.2
unicodecsv==0.14.1
unidecode==1.2.0
urdfdom-py==0.4.6
urllib3==1.26.13
usd-core==22.5.post1
wandb==0.13.10
watchdog==2.1.3
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==2.0.2
wheel==0.37.0
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wurlitzer==2.1.1
xacro==1.13.18
xlrd==2.0.1
xlsxwriter==3.0.1
xlwt==1.3.0
xmltodict==0.13.0
yacs==0.1.8
yapf==0.31.0
yarl==1.8.1
zict==2.0.0
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
zstandard==0.20.0